// viewports
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// fonts
$font-light: #f7f4f1;
$font-dark: #404040;

// backgrounds
$bg-page-header: #0f0f0f;
$bg-darkgrey: #292929;
$bg-lightgrey: #f8f5f2;

// decorations
$border-decor: #e5ddd5;

// links
$link-main-nav: #826550;
$link-color: #4169e1;
$link-hover-color: #1f49c7;

// buttons
$btn-color: #4169e1;
$btn-hover-color: $font-light;

$btn-bg-hover-color: $btn-color;

$btn-border-color: lighten($btn-color, 20%);

$btn-disabled: #ccc;
