$tablet-width: 768px;
$desktop-width: 1200px;

$font-light: #f7f4f1;
$font-dark: #404040;

$bg-page-header: rgb(40, 40, 50);

$bg-darkgrey: #292929;
$bg-lightgrey: #f8f5f2;

$link-color: #4169E1;
$link-hover-color: #1f49c7;

// buttons

$btn-color: #fff;
$btn-hover-color: #fff;

$btn-bg-color: #4169E1;
$btn-bg-hover-color: #4191e1;

$btn-disabled: #ccc;
