.page-works__main {
  background-color: $bg-lightgrey;
}

.page-works__promo {
  color: $font-dark;

  background: darken($bg-lightgrey, 10%);
}

@media (min-width: $tablet-width) {
  .page-works__header {
    height: 300px !important;
  }
}

@media (min-width: $desktop-width) {
  .page-works__header {
    height: 400px !important;
  }
}
