.page-contacts__main {
  color: $font-dark;

  background-color: $bg-lightgrey;
}

.page-contacts__wrapper {
  width: 87.5%;
  margin: 0 auto;
  padding: 30px 0 40px 0;
}

.page-contacts__wrapper-iframe {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.page-contacts__iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media(min-width: $tablet-width) {
  .page-contacts__header {
    height: 300px !important;
  }
}

@media(min-width: $desktop-width) {
  .page-contacts__header {
    height: 400px !important;
  }
}
