.page-login__main {
  background-color: $bg-lightgrey;
}

.page-login__modal {
  position: static;

  box-shadow: none;
}

.page-login__modal-close-btn {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-login__header {
    height: 300px !important;
  }

  .page-login__modal {
    margin: 0 auto;
  }

  .page-login__user-list-item .user-list__login {

    &:hover .user-list__login-icon,
    &:focus .user-list__login-icon {
      opacity: 0.3;

      fill: $font-light;
    }

    &:active .user-list__login-icon {
      opacity: 0.3;

      fill: $font-light;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-login__header {
    height: 400px !important;
  }

  .page-login__user-list-item .user-list__login {

    &:hover,
    &:focus {
      color: $font-light;

      background-color: $bg-page-header;
    }

    &:active {
      color: $font-light;

      background-color: $bg-page-header;
    }
  }
}

// mockup
