.page-works__main {
  background-color: $bg-lightgrey;
}

@media(min-width: $tablet-width) {
  .page-works__header {
    height: 300px;
  }
}

@media(min-width: $desktop-width) {
  .page-works__header {
    height: 400px;
  }
}
