.page-contacts__main {
  color: $font-dark;

  background-color: $bg-lightgrey;
}

.page-contacts__wrapper {
  width: 87.5%;
  margin: 0 auto;
  padding: 30px 0 40px 0;
}

.page-contacts__title {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.page-contacts__text {
  margin: 0;
  margin: 30px 0;

  text-align: center;
  font-size: 22px;
  line-height: 34px;
}

.page-contacts__wrapper-iframe {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.page-contacts__iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;

  border: none;
}

.page-contacts__wrapper-callback-map {
  width: 100%;
  height: auto;
}

.page-contacts__callback-map-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .page-contacts__header {
    height: 300px !important;
  }

  .page-contacts__wrapper {
    width: 83.3%;
    max-width: 1200px;
    padding: 50px 0 60px 0;
  }

  .page-contacts__title {
    font-size: 40px;
    line-height: 30px;
  }

  .page-contacts__text {
    margin: 40px 0;
  }

  .page-contacts__wrapper-iframe {
    margin: 0 auto;
    max-width: 800px;
  }
}

@media (min-width: $desktop-width) {
  .page-contacts__header {
    height: 400px !important;
  }

  .page-contacts__wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 60px 0 70px 0;
  }

  .page-contacts__title {
    text-align: left;
  }

  .page-contacts__text {
    margin-bottom: 0;

    text-align: left;
  }

  .page-contacts__contacts-block {
    width: 40%;
  }

  .page-contacts__map {
    flex-grow: 1;
    width: 55%;
  }
}
