.appointment {
  width: auto;

  background-color: $bg-lightgrey;
}

.appointment__wrapper {
  width: 87.5%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
}

.appointment__title {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.appointment__fieldset {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 35px;

  border: none;

  &:first-child {
    margin-top: 30px;
  }
}

@media (min-width: $tablet-width) {
  .appointment__wrapper {
    width: 83.3%;
    max-width: 1200px;
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .appointment__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .appointment__title {
    font-size: 40px;
    line-height: 30px;
    text-align: left;
  }

  .appointment__fieldset {
    margin-bottom: 70px;

    font-size: 24px;
    line-height: 30px;

    &:first-child {
      margin-top: 50px;
    }
  }
}

@media (min-width: $desktop-width) {
  .appointment__wrapper {
    width: 80%;
    padding-top: 60px;
    padding-bottom: 90px;
  }

  .appointment__fieldset {
    &:first-child {
      margin-top: 60px;
    }
  }
}

// mockup
