.contacts__title {
  display: block;

  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}

.contacts__text {
  text-align: center;
}

.contacts__phone {
  display: block;
  margin-top: 15px;

  font-size: 30px;
  line-height: 45px;
}

@media (max-width: $mobile-width-only) {
  .contacts__phone-mobile {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .contacts__title,
  .contacts__text {
    text-align: left;
  }

  .contacts__phone {
    margin-top: 10px;
    
    font-size: 25px;
    line-height: 30px;
  }
}
// mockup
