.features {
  width: 320px;
  margin: 0 auto;
}

.features__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 80px 25px;
  padding-bottom: 15px;
}

.features__list {
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .features {
    width: auto;
  }

  .features__wrapper {
    width: 640px;
    padding: 45px 30px;
  }
}

// mockup
