.fieldset-person {
  // style
}

.fieldset-person__item {
  margin-bottom: 10px;

  font-style: italic;

  &:last-child {
    margin-bottom: 0;
  }
}

.fieldset-person__label {
  // style
}

.fieldset-person__input,
.fieldset-person__textarea {
  width: 100%;
  padding: 10px 20px;

  font: inherit;

  border: 1px solid darken($bg-lightgrey, 10%);
}

// mockup
