.fieldset-person__wrapper {
  &--name-last-name,
  &--tel-email {
    margin-bottom: 30px;
  }
}

.fieldset-person__item {
  margin: 0;
  margin-bottom: 10px;

  font-style: italic;

  &:last-child {
    margin-bottom: 0;
  }
}

.fieldset-person__input,
.fieldset-person__textarea {
  width: 100%;
  padding: 10px 20px;

  font: inherit;

  border: 1px solid darken($bg-lightgrey, 10%);
}

@media (min-width: $tablet-width) {
  .fieldset-person__wrapper {
    &--name-last-name {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
    }

    &--tel-email {
      margin-bottom: 30px;
    }
  }

  .fieldset-person__item {
    margin-bottom: 30px;

    &--name,
    &--last-name {
      width: 50%;
    }
  }

  .fieldset-person__input,
  .fieldset-person__textarea {
    padding: 15px 30px;
  }

  .fieldset-person__input--name {
    border-right: none;
  }
}

@media (min-width: $desktop-width) {
  .fieldset-person__wrapper {
    &--tel-email {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
    }
  }

  .fieldset-person__item {
    margin-bottom: 30px;

    &--name,
    &--last-name,
    &--tel,
    &--email {
      width: 48%;
    }
  }

  .fieldset-person__input--name {
    border-right: 1px solid darken($bg-lightgrey, 10%);
  }
}

// mockup
