.main-nav {
  width: 320px;
  margin: 0 auto;
  min-height: 310px;

  background-color: #826550;
}

.main-nav__list {
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
    min-height: 70px;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }

  .site-list {
    width: 570px;
  }

  .user-list {
    width: 60px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 960px;
  }

  .site-list {
    width: 780px;
  }

  .user-list {
    width: 160px;
  }
}

// mockup
