.main-nav {
  position: relative;

  width: auto;
  min-height: 51px;

  background-color: #826550;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  display: block;
  width: 70px;
  height: 50px;

  background-color: #6a4d38;

  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: #624530;
  }
}

.main-nav--closed .main-nav__toggle::before {
  @include before-after;

  top: 14px;
  left: 18px;

  width: 36px;
  height: 20px;

  background-image: url(../img/icon-toggle-open.svg);
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;

  &::after {
    @include before-after;

    top: 12px;
    left: 22px;

    width: 26px;
    height: 26px;

    background-image: url(../img/icon-toggle-close.svg);
  }
}

.main-nav__list {
  @include reset-list;
}

// mobile-width-only
// -------------------------------------------------

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;

    &--active {
      display: block;
    }
  }

  .main-nav--closed .site-list__item--active a {
    padding-right: 70px;
    padding-left: 70px;

    text-align: center;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;

    background-color: #6a4d38;
  }

  .main-nav--opened .main-nav__wrapper::before {
    @include before-after;

    top: 0;
    left: 0;
    z-index: 2;

    width: 7px;
    height: 100%;

    box-shadow: inset 4px 0 7px -2px rgba($color: #000000, $alpha: 0.4);
  }

  // main-nav--nojs
  // -----------------------------------------------

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;

    text-align: left;
  }

  .main-nav--nojs .user-list__item {
    display: block;

    background-color: #6a4d38;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;

    background-color: $bg-page-header;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;

    width: 83.3%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 80%;
  }
}

// mockup
