.news {
  width: auto;

  color: $font-dark;

  background-color: $bg-lightgrey;
  border-bottom: 1px solid $border-decor;
}

.news__wrapper {
  width: 87.5%;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 30px;
}

.news__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.news__list {
  @include reset-list;
}

.news__item {
  display: flex;
  margin-bottom: 20px;
  min-height: 80px;
  border-bottom: 1px solid $border-decor;

  &:last-child {
    border-bottom: none;
  }
}

.news__date-day-wrapper {
  position: relative;
  top: 7px;

  display: flex;
  flex-direction: column;
  width: 50px;
  height: 60px;
  margin-right: 20px;

  color: $font-light;

  background-image: url(../img/icon-news-shape.png);
}

.news__date {
  position: relative;
  top: -9px;

  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.news__day {
  position: relative;
  top: 14px;

  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}

.news__text {
  flex-grow: 1;
  width: 75%;
  margin: 0;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .news {
    width: auto;
  }

  .news__wrapper {
    width: 640px;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .news__list {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .news__wrapper {
    width: 960px;
    padding-top: 60px;
    padding-bottom: 45px;
  }
}

// mockup
