.news {
  width: 320px;
  margin: 0 auto;

  color: $font-dark;

  background-color: $bg-lightgrey;
}

.news__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 30px;
}

.news__list {
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .news {
    width: auto;
  }

  .news__wrapper {
    width: 640px;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .news__list {
    display: flex;
  }
}

// mockup
