.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 85px;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    order: 2;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 648px;
  }
}

// mockup
