.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 85px;

  text-align: center;
}

.page-header__logo-image {
  width: 225px;
  height: 30px;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-color: $bg-page-header;
  }

  .page-header__logo {
    order: 2;

    width: 100%;
    height: 400px;

    background: $bg-page-header url(../img/bg-header.jpg) no-repeat center;
  }

  .page-header__logo-image {
    display: block;
    width: 370px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 648px;

    background-position: center 0;
    background-size: cover;
  }

  .page-header__logo-image {
    margin-top: 57px;
  }
}

// mockup
