.page-footer {
  width: auto;
  margin: 0 auto;
}

.page-footer__wrapper {
  width: 87.5%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 25px;
}

.page-footer__contacts {
  margin-bottom: 25px;
}

.page-footer__social {
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 83.7%;
    max-width: 1200px;
    padding-top: 55px;
    padding-bottom: 25px;
  }

  .page-footer__contacts {
    width: 50%;
  }

  .page-footer__social {
    order: 3;
    width: 100%;
  }

  .page-footer__copyright {
    width: 25%;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 80%;
  }

  .page-footer__contacts {
    width: 25%;
  }

  .page-footer__social {
    order: 0;
    width: 25%;
  }

  .page-footer__copyright {
    width: 25%;
  }
}

// mockup
