.pricing {
  width: auto;
  margin: 0 auto;

  background-color: lighten($bg-darkgrey, 5%);
}

.pricing__wrapper {
  width: 87.5%;
  margin: 0 auto;
  padding: 25px 0;
}

.pricing__list {
  width: 100%;
  margin-bottom: 25px;

  border-collapse: collapse;
}

.pricing__list tbody {
  display: flex;
  flex-wrap: wrap;
}

.pricing__list tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.pricing__text {
  width: 60%;
}

.pricing__value {
  width: 30%;
}

@media (max-width: $mobile-width-only) {
  .pricing__order-number {
    display: none;
  }
}
