.pricing {
  width: auto;
  margin: 0 auto;

  background-color: lighten($bg-darkgrey, 5%);
}

.pricing__wrapper {
  width: 87.5%;
  margin: 0 auto;
  padding: 25px 0;
}

.pricing__list {
  width: 100%;
  margin-bottom: 25px;

  border-collapse: collapse;
}

.pricing__list tbody {
  display: flex;
  flex-wrap: wrap;
}

.pricing__list tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.pricing__text {
  width: 60%;

  text-align: center;
}

.pricing__value {
  width: 30%;

  text-align: center;
}

@media (max-width: $mobile-width-only) {
  .pricing__order-number {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .pricing__wrapper {
    width: 83.3%;
    max-width: 1200px;
    padding: 40px 0;
  }

  .pricing__order-number {
    display: block;
    width: 10%;

    text-align: center;
  }

  .pricing__text br,
  .pricing__discount-text br {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .pricing__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    padding: 60px 0;
  }

  .pricing__title {
    width: 100%;
  }

  .pricing__list {
    width: 60%;
    flex-grow: 1;
    margin-right: 7%;
  }

  .pricing__discount-text-wrapper {
    width: 30%;
  }
}
