.promo {
  width: auto;
  margin: 0 auto;

  background-color: lighten($bg-darkgrey, 10%);
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  width: 87.5%;
  margin: 0 auto;
  padding: 20px 0;
}

.promo svg {
  width: 25%;
  margin-right: 5%;
}

.promo__text {
  flex-grow: 1;
  width: 70%;
  margin: 0;

  font-size: 24px;
  line-height: 35px;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    align-items: center;
    width: 83.3%;
    max-width: 1200px;
  }

  .promo svg {
    width: 15%;
  }

  .promo__text {
    font-size: 26px;
    line-height: 38px;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    width: 80%;
    padding: 20px 5%;
  }

  .promo svg {
    width: 10%;
  }
}
