.reviews {
  width: 320px;
  margin: 0 auto;

  color: $font-dark;

  background-color: $bg-lightgrey;
}

.reviews__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: auto;
  }

  .reviews__wrapper {
    width: 640px;
    padding-top: 45px;
    padding-bottom: 70px;
  }
}

// mockup
