.site-list {
  font-weight: bold;
}

.site-list a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;

  font-size: 18px;
  line-height: 24px;
  color: $font-light;
  text-transform: uppercase;

  background-color: $link-main-nav;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}

.site-list a[href] {
  &:hover,
  &:focus {
    background-color: #755a46;
    border-top-color: #755a46;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #6a4d38;
    border-top-color: #6a4d38;
  }
}

@media (max-width: $mobile-width-only) {
  .site-list__item {
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 1;

    width: 570px;
  }

  .site-list__item {
    margin-right: 7%;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      position: relative;

      &::after {
        @include before-after;

        right: 0;
        bottom: -3px;
        left: 0;

        height: 3px;

        background: $link-main-nav;
      }
    }
  }

  .site-list__item a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;

    background: none;
    border: none;
  }

  .site-list__item a[href] {
    &:hover,
    &:focus {
      color: $link-main-nav;

      background-color: $bg-page-header;
    }

    &:active {
      color: $font-light;

      background-color: $bg-page-header;
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 780px;
  }

  .site-list__item {
    margin-right: 0;

    &--active::after {
      right: 30px;
      left: 30px;
    }
  }

  .site-list__item a {
    padding-right: 31px;
    padding-left: 31px;
  }

  .site-list__item a[href] {
    &:hover,
    &:focus {
      color: $bg-page-header;

      background-color: $font-light;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);

      background-color: $font-light;
      opacity: 1;
    }
  }
}

// mockup
