.social__title {
  display: none;
}

.social__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
}

.social__item {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 33%;
  height: 100px;

  border: 1px solid #3f3f3f;

  &:nth-child(2),
  &:nth-child(3) {
    border-left: none;
  }
}

.social__link {
  margin: auto;
  padding: 25px 30px;
}

// mockup
