.stats {
  width: auto;
}

.stats__header {
  padding: 30px 40px;
  padding-bottom: 25px;

  color: $font-dark;

  background-color: $font-light;
}

.stats__slogan {
  display: block;
  margin-bottom: 15px;

  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.stats__intro {
  margin: 0;

  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.stats__legend {
  display: block;

  font-size: 20px;
  line-height: 20px;
}

.stats__legend--bottom {
  padding-top: 20px;
  padding-bottom: 14px;

  text-align: center;
  color: hsla(0, 0%, 100%, 0.3);

  background-color: $bg-darkgrey;
}

.stats__legend--top {
  display: none;
}

.stats__legend sup {
  top: -0.25em;

  font-size: 90%;
}

.stats__list {
  width: 100%;

  border-collapse: collapse;
}

.stats__list tr {
  color: $font-light;

  background-color: lighten($bg-darkgrey, 7%);

  &:nth-child(2) {
    background-color: lighten($bg-darkgrey, 12%);
  }

  &:nth-child(3) {
    background-color: lighten($bg-darkgrey, 2%);
  }
}

.stats__value,
.stats__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;

  vertical-align: top;
}

.stats__value {
  padding-right: 0;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.stats__value sup {
  top: -0.35em;

  margin-left: 5px;
}

.stats__field {
  padding-left: 0;

  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .stats {
    width: 83.3%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -174px;
  }

  .stats__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .stats__slogan {
    width: 50%;
    margin-bottom: 18px;

    font-size: 40px;
    line-height: 40px;
    text-transform: none;
  }

  .stats__intro {
    width: 40%;
    margin-top: 5px;
    padding: 0;
  }

  .stats__legend--top {
    display: block;
    width: 50%;

    color: hsla(0, 5%, 5%, 0.4);
    text-align: center;
  }

  .stats__legend--bottom {
    display: none;
  }

  .stats__list {
    display: block;
  }

  .stats__list tbody {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .stats__list tr {
    display: block;
    width: 50%;
    padding: 25px 35px;
    padding-bottom: 28px;
  }

  .stats__list td {
    display: block;
    width: auto;
    padding: 0;
  }

  .stats__value {
    margin-bottom: 7px;

    font-size: 72px;
    line-height: 72px;
  }

  .stats__field {
    font-size: 20px;
    line-height: 27px;
  }

  .stats__field br {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .stats {
    display: flex;
    width: 80%;
    margin-top: -160px;
  }

  .stats__header {
    flex-grow: 1;
    flex-direction: column;
    width: 320px;
  }

  .stats__slogan {
    width: auto;
    margin-bottom: 42px;
  }

  .stats__intro {
    width: auto;
    margin-bottom: 32px;
  }

  .stats__legend--top {
    width: auto;
    margin-top: auto;
  }

  .stats__list {
    display: flex;
    flex-grow: 1;
    width: 640px;
  }
}

// mockup
