.user-list__login {
  position: relative;

  display: block;
  padding: 17px 21px;
  padding-left: 49px;

  line-height: 18px;
  color: $font-light;
}

.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 21px;

  width: 16px;
  height: 16px;

  opacity: 0.3;

  // polygon {
  //   fill: $font-light;
  // }

  fill: $font-light;
}

@media (max-width: $mobile-width-only) {
  .user-list__login {
    text-align: center;
    padding: 17px 21px;

    &:hover,
    &:focus,
    &:active {
      color: darken($font-light, 20%);
    }

    &:hover .user-list__login-icon,
    &:focus .user-list__login-icon {
      opacity: 0.8;

      // polygon {
      //   fill: $font-light;
      // }
      fill: $font-light;
    }

    &:active .user-list__login-icon {
      opacity: 0.3;

      // polygon {
      //   fill: $font-light;
      // }
      fill: $font-light;
    }

  }
}

@media (min-width: $tablet-width) {
  .user-list {
    width: 60px;
  }

  .user-list__item--active {
    position: relative;

    &::after {
      @include before-after;

      right: 5px;
      bottom: -3px;
      left: -7px;

      height: 3px;

      background: $link-main-nav;
    }
  }

  .user-list__login {
    width: 60px;
    height: 70px;
    padding: 0;

    font-size: 0;

    &:hover .user-list__login-icon,
    &:focus .user-list__login-icon {
      opacity: 1;

      // polygon {
      //   fill: $link-main-nav;
      // }
      fill: $link-main-nav;
    }

    &:active .user-list__login-icon {
      opacity: 0.3;

      // polygon {
      //   fill: $font-light;
      // }
      fill: $font-light;
    }
  }

  .user-list__login-icon {
    top: 28px;
    left: 12px;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    width: auto;
    max-width: 160px;
  }

  .user-list__item--active::after {
    right: 0;
    left: 0;
  }

  .user-list__login {
    position: relative;

    width: auto;
    height: auto;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 23px;
    padding-left: 50px;

    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $bg-page-header;

      background-color: $font-light;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);

      background-color: $font-light;
    }

    &:hover .user-list__login-icon,
    &:focus .user-list__login-icon {
      opacity: 0.3;

      // polygon {
      //   fill: $bg-page-header;
      // }
      fill: $bg-page-header;
    }

    &:active .user-list__login-icon {
      opacity: 0.1;
    }
  }

  .user-list__login-icon {
    left: 15px;
  }
}

// mockup
