.works {
  width: auto;
  margin: 0 auto;

  color: $font-dark;

  background-color: $bg-lightgrey;
}

.works__wrapper {
  width: 87.5%;
  margin: 0 auto;
  padding: 30px 0 40px 0;
}

.works__title {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.works__item {
  margin-bottom: 30px;

  border: 1px solid $border-decor;

  &--main {
    margin-top: 30px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.works__image-wrapper {
  position: relative;

  width: 100%;
  height: auto;

  overflow: hidden;

  &--main::before {
    position: absolute;
    content: "The Super Project";
    bottom: 30px;
    left: 0;
    z-index: 2;

    width: 200px;
    height: 45px;
    padding-top: 7px;
    padding-right: 10px;

    font-size: 22px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: $font-light;

    background-color: #826550;
    clip-path: polygon(100% 0, 93% 50%, 100% 100%, 0 100%, 0 0);
  }
}

.works__image {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 50% 20%;

  &--main {
    height: 480px;
  }
}

.works__description-wrapper {
  padding: 25px 20px;
}

.works__item-title {
  margin: 0;

  font-size: 24px;
  line-height: 27px;
}

.works__services-list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.works__services-item {
  flex-grow: 1;
  width: 45%;
  margin-right: 5%;
  padding-left: 35px;

  font-size: 16px;
  text-transform: uppercase;

  &:nth-child(3) {
    margin-top: 15px;
  }

  &:last-child {
    margin-right: 0;
  }

  &--service1 {
    background: url(../img/icon-settings.svg) no-repeat 0 1px;
    background-size: 24px 24px;
  }

  &--service2 {
    background: url(../img/icon-photo-camera.svg) no-repeat 0 1px;
    background-size: 24px 24px;
  }

  &--service3 {
    background: url(../img/icon-networking.svg) no-repeat 0 1px;
    background-size: 24px 24px;
  }
}

@media (min-width: $tablet-width) {
  .works__wrapper {
    width: 83.3%;
    max-width: 1200px;
    padding: 50px 0 60px 0;
  }

  .works__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .works__title {
    width: 60%;

    font-size: 40px;
    line-height: 30px;
    text-align: left;
  }

  .works__item {
    display: flex;
    margin-bottom: 40px;

    &--main {
      margin-top: 50px;
    }
  }

  .works__image-wrapper {
    width: 42.2%;
    margin-right: 7.8%;
  }

  .works__image {
    height: auto;
    max-height: 320px;
    object-fit: cover;
    object-position: 50% 10%;

    &--main {
      max-height: 550px;
    }
  }

  .works__description-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;

    width: 50%;
    padding: 40px 30px 35px 0;
  }

  .works__item-title {
    margin-bottom: 30px;
  }

  .works__text {
    margin: 0;
    margin-bottom: 30px;
  }

  .works__services-list {
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .works__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    padding: 60px 0 70px 0;
  }

  .works__header {
    width: 100%;
  }

  .works__item {
    position: relative;

    flex-grow: 1;
    flex-direction: column;
    width: 30%;
    margin-bottom: 0;
    margin-right: 5%;

    &--main {
      flex-direction: row;
      width: 100%;
      margin-top: 60px;
      margin-bottom: 45px;

      &::before {
        position: absolute;
        content: "The Super Project";
        top: 25px;
        right: 0;
        z-index: 2;

        width: 200px;
        height: 45px;
        padding-top: 7px;
        padding-left: 10px;

        font-size: 22px;
        line-height: 38px;
        text-align: center;
        text-transform: uppercase;
        color: $font-light;

        background-color: #826550;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 7% 50%);
      }
    }

    &--main,
    &:last-child {
      margin-right: 0;
    }
  }

  .works__image-wrapper {
    width: auto;
    margin-right: 0;

    &--main {
      width: 50%;
      margin-right: 5%;

      &::before {
        display: none;
      }
    }
  }

  .works__description-wrapper {
    flex-grow: 1;
    width: auto;
    padding-left: 35px;

    &--main {
      width: 45%;
      padding-left: 0;
      padding-top: 120px;
    }
  }

  .works__item-title {
    font-size: 26px;
  }

  .works__item--main .works__services-item {
    width: 30%;
    margin-top: 0;
  }
}
