.btn {
  display: inline-block;
  width: 100%;
  padding: 12px;

  font: inherit;
  font-weight: bold;
  text-align: center;
  color: $btn-color;
  text-transform: uppercase;
  vertical-align: middle;

  border: 1px solid $btn-border-color;

  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    color: $btn-hover-color;
    background-color: $btn-bg-hover-color;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: $btn-disabled;
  }
}

.btn__primary {
  color: $btn-primary-color;
  background: $btn-primary-bg;

  &:hover,
  &:focus,
  &:active {
    background-color: $btn-primary-bg-hover;
  }
}

@media (min-width: $tablet-width) {

  .btn__primary {

    &--appointment {
      display: block;
      width: 65%;
      margin: 0 auto;

      font-size: 24px;
      line-height: 35px;
    }
  }
}

@media (min-width: $desktop-width) {

  .btn__primary {

    &--appointment {
      width: 40%;
    }
  }
}

// Custom buttons
// -------------------------------------------------

.contacts__phone {
  color: $btn-border-color;
}

.copyright__link {
  color: $font-light;
  text-transform: none;

  border: 1px solid #3f3f3f;

  &:hover,
  &:focus,
  &:active {
    background-color: #3f3f3f;
  }
}

@media (max-width: $mobile-width-only) {

  .reviews__write,
  .reviews__prev,
  .reviews__next,
  .works__to-home,
  .appointment__to-home {
    display: none;
  }
}

@media (min-width: $tablet-width) {

  .news__to-all,
  .reviews__write,
  .works__to-home,
  .appointment__to-home {
    width: 25%;
  }

  .contacts__phone {

    &:hover,
    &:focus,
    &:active {
      color: $link-color;
    }
  }
}

// mockup
