.btn {
  display: inline-block;
  width: 100%;
  padding: 12px;

  font: inherit;
  font-weight: bold;
  text-align: center;
  color: $btn-color;
  text-transform: uppercase;
  vertical-align: middle;

  border: 1px solid $btn-border-color;

  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    color: $btn-hover-color;
    background-color: $btn-bg-hover-color;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: $btn-disabled;
  }
}

@media (min-width: $tablet-width) {
  .news__to-all {
    width: 300px;
  }
}

// mockup
