.modal {
  position: fixed;
  z-index: 100;

  display: none;

  color: $font-dark;

  background-color: $bg-lightgrey;
  border: 1px solid #826550;
  box-shadow: 30px 30px 50px rgba(87, 87, 87, 0.7);
}

.modal--show {
  display: block;
}

.modal__login {
  top: 17vh;
  left: 0;

  width: 100%;
  padding: 40px 0;
}

.modal__login-wrapper {
  width: 87.5%;
  margin: 0 auto;
}

// mockup
